<div class="blade-content-container">
  <h2 class="blade-title">Crear nuevo rol</h2>

  <div class="blade-body">
    <form [formGroup]="formState.form" class="form">
      <!-- name field -->
      <am-form-input [formState]="formState" fieldName="name" formControlName="name" label="Nombre" />

      <!-- description field -->
      <am-form-textarea
        [formState]="formState"
        fieldName="description"
        formControlName="description"
        label="Descripción"
      />
    </form>
  </div>

  <div class="blade-actions">
    <button (click)="handleCloseBlade()" mat-flat-button class="me-2">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <am-btn-loading [loading]="formState.isLoading" icon="save" btnText="Añadir" (eventClick)="handleSubmit()" />
  </div>
</div>
