@use "variables" as *;

:host {
  display: block;
}

.sidebar-container {
  display: flex;
  min-height: calc(100vh - var(--navbar-height));
  flex-direction: column;

  scrollbar-width: thin;
  scrollbar-color: var(--mat-tertiary-container) transparent;

  .sidebar-content {
    .profile {
      .profile-image {
        padding: 1rem;
        display: flex;
        justify-content: center;

        img {
          border-radius: 70px;
        }
      }

      .profile-info {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
      }
    }
  }
}
