:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.working-days-week-container {
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  .help-text {
    color: var(--mat-outline);
  }

  mat-chip-listbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
