.alert {
  border-radius: 4px;

  &.alert-success {
    border: 1px solid scale(var(--sys-success), 10);
    background-color: var(--sys-success);
    color: scale(var(--sys-success), 60);
  }

  &.alert-info {
    border: 1px solid scale(var(--sys-info), 10);
    background-color: var(--sys-info);
    color: scale(var(--sys-info), 60);
  }

  &.alert-warning {
    border: 1px solid scale(var(--sys-warning), 10);
    background-color: var(--sys-warning);
    color: scale(var(--sys-warning), 60);
  }

  &.alert-danger {
    border: 1px solid scale(var(--sys-danger), 10);
    background-color: var(--sys-danger);
    color: scale(var(--sys-danger), 60);
  }
}
