.alert {
  border-radius: 4px;

  &.alert-success {
    border: 1px solid scale(var(--am-success), 10);
    background-color: var(--am-success);
    color: scale(var(--am-success), 60);
  }

  &.alert-info {
    border: 1px solid scale(var(--am-info), 10);
    background-color: var(--am-info);
    color: scale(var(--am-info), 60);
  }

  &.alert-warning {
    border: 1px solid scale(var(--am-warning), 10);
    background-color: var(--am-warning);
    color: scale(var(--am-warning), 60);
  }

  &.alert-danger {
    border: 1px solid scale(var(--am-danger), 10);
    background-color: var(--am-danger);
    color: scale(var(--am-danger), 60);
  }
}
