// Clases base para contenido dentro de blades.
.blade-content-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  min-height: 100%;

  // Título del blade.
  .blade-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--mat-outline);
  }

  // Contenedor del formulario o contenido principal.
  .blade-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  // Acciones (botones, etc).
  .blade-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: auto;
    padding-top: 1rem;
    gap: 0.75rem;
    border-top: 1px solid var(--mat-outline);
  }

  .blade-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    min-height: calc(90vh - var(--navbar-height)); // 90 en vez de 100 para omitir el botón de cerrar.
  }
}
