// Tabla tipo lista.
.table-list {
  width: 100%;

  tbody {
    tr.mat-mdc-row {
      td,
      th {
        cursor: pointer;
      }
    }
  }
}

// Ocultar botones de acción hasta hacer hover en la row.
// Example: <mat-icon class="btn-action">add</mat-icon>
table {
  tr {
    td,
    th {
      .material-icons {
        &.btn-action {
          display: none !important;
        }
      }
    }

    &:hover {
      td,
      th {
        .material-icons {
          &.btn-action {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
