:host {
  display: flex;
  align-items: center;
}

.calendar-selector {
  width: 250px;
  margin-bottom: -0.34375em;
}

.calendar-spinner {
  margin: 0 8px;
}

:host ::ng-deep .mdc-text-field {
  background-color: rgba(255, 255, 255, 0.05);
  height: 48px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
