<div class="blade-content-container">
  @if (!loadingRole) {
    <h2 class="blade-title">Actualizar rol: {{ role.name }}</h2>

    <div class="blade-body">
      <form [formGroup]="formState.form" class="form">
        <!-- name field -->
        <am-form-input [formState]="formState" fieldName="name" formControlName="name" label="Nombre" />

        <!-- description field -->
        <am-form-textarea
          [formState]="formState"
          fieldName="description"
          formControlName="description"
          label="Descripción"
        />
      </form>
    </div>

    <!-- actions -->
    <div class="blade-actions">
      <button mat-flat-button class="me-2" (click)="handleCloseBlade()">
        <mat-icon>close</mat-icon>
        Cerrar
      </button>
      <am-btn-loading [loading]="formState.isLoading" icon="save" btnText="Actualizar" (eventClick)="handleSubmit()" />
    </div>
  } @else {
    <div class="blade-loading">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  }
</div>
