<div class="blade-content-container">
  @if (roleSelectedState.isLoading() || formState.isLoading) {
    <div class="blade-loading">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  } @else {
    <h2 class="blade-title">Actualizar rol: {{ roleSelectedState.role()?.name }}</h2>

    <div class="blade-body">
      <form [formGroup]="formState.form" class="form">
        <!-- name field -->
        <am-form-input [formState]="formState" fieldName="name" formControlName="name" label="Nombre" />

        <!-- description field -->
        <am-form-textarea
          fieldName="description"
          formControlName="description"
          label="Descripción"
          [formState]="formState"
        />
      </form>
    </div>

    <!-- actions -->
    <div class="blade-actions">
      <button mat-flat-button class="me-2" (click)="handleCloseBlade()">
        <mat-icon>close</mat-icon>
        Cerrar
      </button>
      <am-btn-loading
        btnText="Actualizar"
        icon="save"
        (eventClick)="handleSubmit()"
        [isLoading]="formState.isLoading"
      />
    </div>
  }
</div>
