<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <div class="account-list-container">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-row">
          <!-- toolbar -->
          <button
            (click)="handleCreateAccount()"
            [amRequiredPermission]="systemPermissions.Users.Create"
            mat-raised-button
          >
            <mat-icon>add</mat-icon>
            Añadir cuenta
          </button>

          <!-- filter -->
          <div class="ms-auto">
            <am-table-filter
              (filterChange)="handleFilterChange($event)"
              [paginatedResult]="paginatedResult"
              [fieldsFilter]="fieldsFilter"
            />
          </div>
        </div>

        <!-- table -->
        <div class="table-container">
          <table
            mat-table
            matSort
            matSortActive="email"
            matSortDirection="asc"
            class="table-striped"
            (matSortChange)="handleSortChange($event)"
            [dataSource]="dataSource"
            [ngClass]="{ hidden: loading }"
          >
            <!-- email field -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
              <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <!-- firstName field -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
            </ng-container>

            <!-- lastName field -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
              <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
            </ng-container>

            <!-- isActive field -->
            <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
              <td mat-cell *matCellDef="let row">
                <span [innerHTML]="row.isActive | boolToIcon"></span>
              </td>
            </ng-container>

            <!-- isEmailConfirmed field -->
            <ng-container matColumnDef="isEmailConfirmed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirmado</th>
              <td mat-cell *matCellDef="let row">
                <span [innerHTML]="row.isEmailConfirmed | boolToIcon"></span>
              </td>
            </ng-container>

            <!-- dateJoined field -->
            <ng-container matColumnDef="dateJoined">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</th>
              <td mat-cell *matCellDef="let row">{{ row.dateJoined | dateTimeFormat }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              class="cursor-pointer"
              *matRowDef="let row; columns: displayedColumns"
              (click)="handleClickDetails(row.userId)"
            ></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell p-4" [attr.colspan]="displayedColumns.length">
                <div class="d-flex justify-content-center">No hay datos a mostrar</div>
              </td>
            </tr>
          </table>

          <!-- paginator -->
          @if (dataSource) {
            <am-paginator (pageEvent)="handlePageEvent($event)" [paginatedResult]="paginatedResult" />
          }

          <!-- spinner -->
          @if (loading) {
            <div class="d-flex justify-content-center p-5">
              <mat-progress-spinner mode="indeterminate" />
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</am-page-base>
