<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <div class="account-list-container">
    <mat-card>
      <mat-card-content>
        <!-- toolbar -->
        <div class="d-flex flex-row">
          <div class="ms-auto">
            <am-table-filter
              (filterChange)="handleFilterChange($event)"
              [apiResult]="apiResult"
              [fieldsFilter]="fieldsFilter"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</am-page-base>
