.calendar {
  width: 325px;
  margin: 0 5px 5px 0;
  min-height: 358px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--mat-background);

  mat-card-content {
    padding: 1rem;

    h4 {
      margin: 0 0 1rem 0;
      font-weight: 500;
      color: var(--mat-primary);
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }
}

::ng-deep .month-calendar {
  // Ocultar header y navegación.
  mat-calendar-header {
    display: none;
  }

  .calendar-item {
    border-radius: 50%;
  }

  // Ocultar etiqueta del mes.
  .mat-calendar-body-label {
    visibility: hidden;
  }

  .mat-calendar-body-cell {
    // Días no laborables.
    &.selected-date,
    &.unavailable {
      background-color: var(--unavailable-day-color);
    }

    // Días festivos.
    &.holiday {
      background-color: var(--holiday-color);
    }
  }
}
