<mat-card class="calendar">
  <mat-card-content>
    <h4 class="d-flex justify-content-center">{{ title() }}</h4>

    @if (!loading() && items() && month()) {
      <mat-calendar
        [startAt]="month()"
        [minDate]="minDate()"
        [maxDate]="maxDate()"
        [dateClass]="dateClass"
        (selectedChange)="handleDatetimeSelected($event)"
        class="month-calendar"
      />
    } @else {
      <div class="loading-container">
        <mat-progress-spinner mode="indeterminate" />
      </div>
    }
  </mat-card-content>
</mat-card>
