@use "variables" as *;

:host {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--navbar-height));

  .content-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--navbar-height));
    background-color: var(--mat-background);
    padding: 0.2rem 1rem;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Opcional: animación para la salida
.main.leaving {
  .content-container {
    animation: fadeOutDown 0.3s ease-in forwards;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
