@if (items.length) {
  <mat-form-field>
    <!-- label -->
    <mat-label>{{ label() }}</mat-label>

    <!-- icon -->
    @if (icon() && formIconPosition() === iconPositions.prefix) {
      <mat-icon matPrefix>{{ icon() }}</mat-icon>
    } @else if (icon() && formIconPosition() === iconPositions.suffix) {
      <mat-icon matSuffix>{{ icon() }}</mat-icon>
    }

    <!-- input -->
    <input
      aria-label="Selección de zona horaria"
      matInput
      amSelectOnFocus
      (ngModelChange)="handleChangeValue($event)"
      [ngModel]="value()"
      [matAutocomplete]="timezones"
      [disabled]="isDisabled()"
      [id]="id"
      [placeholder]="placeholder()"
    />

    <!-- autocomplete -->
    <mat-autocomplete #timezones="matAutocomplete">
      @for (item of itemsFiltered(); track $index) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <!-- field error -->
  @if (formState().form) {
    <am-field-error [formState]="formState()" [fieldName]="fieldName()" [fieldText]="label()" />
  }
}
