<div class="form-group d-flex flex-column">
  <label class="mb-2" [for]="id">{{ label() }}</label>
  <div class="color-picker">
    <input
      #colorPicker
      [ngModel]="value()"
      (ngModelChange)="onChangeValue($event)"
      [id]="id"
      [attr.name]="id"
      [disabled]="isDisabled()"
      [attr.data-format]="dataFormat()"
      [readonly]="readonly()"
      [attr.value]="value()"
      data-function="color-picker"
      class="btn-appearance"
    />
  </div>

  @if (formState().form) {
    <am-field-error [formState]="formState()" [fieldName]="fieldName()" [fieldText]="label()" />
  }
</div>
