@if (navbarState()) {
  <nav class="navbar-container">
    <mat-toolbar class="mat-elevation-z1">
      <!-- sidebar toggle -->
      <button mat-icon-button (click)="handleToggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- site name -->
      <span class="cursor-pointer" [routerLink]="siteUrls.home">{{ siteName }}</span>

      <span class="d-flex m-auto"></span>

      <!-- calendar selector -->
      @if (calendarState.calendars().length > 1) {
        <am-calendar-selector />
      }

      <span class="me-2"></span>

      <!-- theme toggle -->
      <button (click)="handleToggleTheme()" mat-icon-button>
        <span>
          @if (theme() === themeColor.Light) {
            <mat-icon>light_mode</mat-icon>
          } @else {
            <mat-icon>dark_mode</mat-icon>
          }
        </span>
      </button>

      <!-- user profile -->
      <button mat-raised-button [mat-menu-trigger-for]="profile" aria-label="Perfil de usuario">
        {{ userEmail }}
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          Desconectar
        </button>
      </mat-menu>
    </mat-toolbar>
  </nav>
}
