:host {
  display: block;
}

.sidebar-container {
  .sidebar-content {
    padding: 1rem;

    .profile {
      .profile-image {
        display: flex;
        justify-content: center;

        img {
          border-radius: 70px;
        }
      }

      .profile-info {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
      }
    }
  }
}
