<am-page-simple>
  <section class="confirm-recovery-password-container">
    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form">
      <mat-card class="mat-elevation-z10 p-4">
        <mat-card-header>
          <mat-card-title class="title">
            <h3>Restablecer contraseña</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <am-non-field-errors [badRequest]="badRequest" />

          <!-- newPassword -->
          <am-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="isSubmitted"
            [formInputType]="formInputType.Password"
            fieldName="newPassword"
            formControlName="newPassword"
            label="Nueva contraseña"
            icon="lock"
          />

          <!-- confirmNewPassword -->
          <am-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="isSubmitted"
            [formInputType]="formInputType.Password"
            fieldName="confirmNewPassword"
            formControlName="confirmNewPassword"
            label="Repetir contraseña"
            icon="lock"
          />

          <mat-divider />
        </mat-card-content>

        <mat-card-footer class="mt-4 ms-2">
          <am-btn-loading [loading]="isLoading" btnText="Restablecer" />
          <button mat-flat-button class="ms-2" type="button" [routerLink]="[siteUrls.auth.login]">
            Iniciar sesión
          </button>
        </mat-card-footer>
      </mat-card>
    </form>
  </section>
</am-page-simple>
