// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      use-system-variables: true,
    ),
    typography: (
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-typography($dark-theme);
}

// https://material-foundation.github.io/material-theme-builder/
html {
  --mat-primary: rgb(38 100 137);
  --mat-surface-tint: rgb(38 100 137);
  --mat-on-primary: rgb(255 255 255);
  --mat-primary-container: rgb(201 230 255);
  --mat-on-primary-container: rgb(0 30 47);
  --mat-secondary: rgb(80 96 110);
  --mat-on-secondary: rgb(255 255 255);
  --mat-secondary-container: rgb(211 229 245);
  --mat-on-secondary-container: rgb(12 29 41);
  --mat-tertiary: rgb(100 89 123);
  --mat-on-tertiary: rgb(255 255 255);
  --mat-tertiary-container: rgb(234 221 255);
  --mat-on-tertiary-container: rgb(32 22 53);
  --mat-error: rgb(186 26 26);
  --mat-on-error: rgb(255 255 255);
  --mat-error-container: rgb(255 218 214);
  --mat-on-error-container: rgb(65 0 2);
  --mat-background: rgb(247 249 255);
  --mat-on-background: rgb(24 28 32);
  --mat-surface: rgb(247 249 255);
  --mat-on-surface: rgb(24 28 32);
  --mat-surface-variant: rgb(221 227 234);
  --mat-on-surface-variant: rgb(65 71 77);
  --mat-outline: rgb(113 120 126);
  --mat-outline-variant: rgb(193 199 206);
  --mat-shadow: rgb(0 0 0);
  --mat-scrim: rgb(0 0 0);
  --mat-inverse-surface: rgb(45 49 53);
  --mat-inverse-on-surface: rgb(238 241 246);
  --mat-inverse-primary: rgb(149 205 247);
  --mat-primary-fixed: rgb(201 230 255);
  --mat-on-primary-fixed: rgb(0 30 47);
  --mat-primary-fixed-dim: rgb(149 205 247);
  --mat-on-primary-fixed-variant: rgb(0 76 110);
  --mat-secondary-fixed: rgb(211 229 245);
  --mat-on-secondary-fixed: rgb(12 29 41);
  --mat-secondary-fixed-dim: rgb(183 201 217);
  --mat-on-secondary-fixed-variant: rgb(56 73 86);
  --mat-tertiary-fixed: rgb(234 221 255);
  --mat-on-tertiary-fixed: rgb(32 22 53);
  --mat-tertiary-fixed-dim: rgb(206 192 232);
  --mat-on-tertiary-fixed-variant: rgb(76 65 99);
  --mat-surface-dim: rgb(215 218 223);
  --mat-surface-bright: rgb(247 249 255);
  --mat-surface-container-lowest: rgb(255 255 255);
  --mat-surface-container-low: rgb(241 244 249);
  --mat-surface-container: rgb(235 238 243);
  --mat-surface-container-high: rgb(229 232 237);
  --mat-surface-container-highest: rgb(224 227 232);

  --extended-success-color: rgb(0 109 62);
  --extended-success-on-color: rgb(255 255 255);
  --extended-success-color-container: rgb(82 202 133);
  --extended-success-on-color-container: rgb(0 47 24);

  --extended-warning-color: rgb(136 82 0);
  --extended-warning-on-color: rgb(255 255 255);
  --extended-warning-color-container: rgb(250 173 82);
  --extended-warning-on-color-container: rgb(71 40 0);

  --extended-info-color: rgb(0 93 185);
  --extended-info-on-color: rgb(255 255 255);
  --extended-info-color-container: rgb(104 162 255);
  --extended-info-on-color-container: rgb(0 22 52);
}

.dark-theme {
  --mat-primary: rgb(149 205 247);
  --mat-surface-tint: rgb(149 205 247);
  --mat-on-primary: rgb(0 52 78);
  --mat-primary-container: rgb(0 76 110);
  --mat-on-primary-container: rgb(201 230 255);
  --mat-secondary: rgb(183 201 217);
  --mat-on-secondary: rgb(34 50 63);
  --mat-secondary-container: rgb(56 73 86);
  --mat-on-secondary-container: rgb(211 229 245);
  --mat-tertiary: rgb(206 192 232);
  --mat-on-tertiary: rgb(53 43 75);
  --mat-tertiary-container: rgb(76 65 99);
  --mat-on-tertiary-container: rgb(234 221 255);
  --mat-error: rgb(255 180 171);
  --mat-on-error: rgb(105 0 5);
  --mat-error-container: rgb(147 0 10);
  --mat-on-error-container: rgb(255 218 214);
  --mat-background: rgb(16 20 23);
  --mat-on-background: rgb(224 227 232);
  --mat-surface: rgb(16 20 23);
  --mat-on-surface: rgb(224 227 232);
  --mat-surface-variant: rgb(65 71 77);
  --mat-on-surface-variant: rgb(193 199 206);
  --mat-outline: rgb(139 145 152);
  --mat-outline-variant: rgb(65 71 77);
  --mat-shadow: rgb(0 0 0);
  --mat-scrim: rgb(0 0 0);
  --mat-inverse-surface: rgb(224 227 232);
  --mat-inverse-on-surface: rgb(45 49 53);
  --mat-inverse-primary: rgb(38 100 137);
  --mat-primary-fixed: rgb(201 230 255);
  --mat-on-primary-fixed: rgb(0 30 47);
  --mat-primary-fixed-dim: rgb(149 205 247);
  --mat-on-primary-fixed-variant: rgb(0 76 110);
  --mat-secondary-fixed: rgb(211 229 245);
  --mat-on-secondary-fixed: rgb(12 29 41);
  --mat-secondary-fixed-dim: rgb(183 201 217);
  --mat-on-secondary-fixed-variant: rgb(56 73 86);
  --mat-tertiary-fixed: rgb(234 221 255);
  --mat-on-tertiary-fixed: rgb(32 22 53);
  --mat-tertiary-fixed-dim: rgb(206 192 232);
  --mat-on-tertiary-fixed-variant: rgb(76 65 99);
  --mat-surface-dim: rgb(16 20 23);
  --mat-surface-bright: rgb(54 58 62);
  --mat-surface-container-lowest: rgb(10 15 18);
  --mat-surface-container-low: rgb(24 28 32);
  --mat-surface-container: rgb(28 32 36);
  --mat-surface-container-high: rgb(38 42 46);
  --mat-surface-container-highest: rgb(49 53 57);

  --extended-success-color: rgb(106 224 154);
  --extended-success-on-color: rgb(0 57 30);
  --extended-success-color-container: rgb(59 182 116);
  --extended-success-on-color-container: rgb(0 26 11);

  --extended-warning-color: rgb(255 206 156);
  --extended-warning-on-color: rgb(72 41 0);
  --extended-warning-color-container: rgb(232 158 69);
  --extended-warning-on-color-container: rgb(54 29 0);

  --extended-info-color: rgb(170 199 255);
  --extended-info-on-color: rgb(0 47 100);
  --extended-info-color-container: rgb(32 115 217);
  --extended-info-on-color-container: rgb(255 255 255);
}

// Button colors.
.btn-primary {
  @include mat.button-color($light-theme, $color-variant: primary);
}

.btn-secondary {
  @include mat.button-color($light-theme, $color-variant: secondary);
}

.btn-tertiary {
  @include mat.button-color($light-theme, $color-variant: tertiary);
}

.btn-success {
  background-color: var(--extended-success-color-container) !important;
  color: var(--extended-success-on-color-container) !important;
}

.btn-info {
  background-color: var(--extended-info-color-container) !important;
  color: var(--extended-info-on-color-container) !important;
}

.btn-warning {
  background-color: var(--extended-warning-color-container) !important;
  color: var(--extended-warning-on-color-container) !important;
}

.btn-error {
  background-color: var(--mat-error-container) !important;
  color: var(--mat-on-error-container) !important;
}

@for $i from 0 through 24 {
  .mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}
