@if (show()) {
  <div
    class="alert alert-container"
    [attr.aria-label]="'Alert: ' + type()"
    [attr.aria-live]="type() === 'error' ? 'assertive' : 'polite'"
    [ngClass]="{
      'alert-success': type() === 'success',
      'alert-error': type() === 'error',
      'alert-warning': type() === 'warning',
      'alert-info': type() === 'info',
    }"
    role="alert"
  >
    @if (showIcon()) {
      <div class="alert-icon">
        @switch (type()) {
          @case ("success") {
            <mat-icon>check_circle</mat-icon>
          }
          @case ("error") {
            <mat-icon>error</mat-icon>
          }
          @case ("warning") {
            <mat-icon>warning</mat-icon>
          }
          @case ("info") {
            <mat-icon>info</mat-icon>
          }
        }
      </div>
    }

    <ng-content class="alert-content" />

    @if (dismissible()) {
      <mat-icon class="alert-close" (click)="handleClose()">close</mat-icon>
    }
  </div>
}
