@use "variables" as *;

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** Importante, para ocultar los permisos en los directivos. */
.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--am-primary);

  &:hover {
    color: var(--am-accent);
  }
}

.cursor-pointer {
  cursor: pointer;
}

/***************
 * TEXTS.
 */

.nl2br {
  white-space: pre-wrap;
}

.small {
  font-size: 0.8rem;
}

/***************
 * COLORS.
 */

.bg-transparent {
  background-color: transparent;
  color: transparent;
}

.bg-success {
  background-color: var(--am-success);
  color: #ffffff;
}

.bg-info {
  background-color: var(--am-info);
  color: #000000;
}

.bg-warning {
  background-color: var(--am-warning);
  color: #000000;
}

.bg-danger {
  background-color: var(--am-danger);
  color: #ffffff;
}

.text-success {
  color: var(--am-success);
}

.text-info {
  color: var(--am-info);
}

.text-warning {
  color: var(--am-warning);
}

.text-danger {
  color: var(--am-danger);
}

.text-muted {
  color: #8d8b8b;
}

/***********************
 *
 */

/** Centrar elementos verticalmente. */
.align-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
