html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-background);
  color: var(--mat-on-background);
}

/** Importante, para ocultar los permisos en los directivas. */
.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--mat-outline);

  &:hover {
    color: var(--mat-outline-variant);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-muted {
  color: var(--mat-outline-variant);
}

.text-muted-secondary {
  color: var(--mat-outline);
}

/***************
 * TEXTS.
 */

.nl2br {
  white-space: pre-wrap;
}

.small {
  font-size: 0.8rem;
}

/***************
 * COLORS.
 */

.bg-transparent {
  background-color: transparent;
  color: transparent;
}

.bg-success {
  background-color: var(--extended-success-color-container);
  color: #ffffff;
}

.bg-info {
  background-color: var(--extended-info-color-container);
  color: #000000;
}

.bg-warning {
  background-color: var(--extended-warning-color-container);
  color: #000000;
}

.bg-error {
  background-color: var(--mat-error-container);
  color: #ffffff;
}

.text-success {
  color: var(--extended-success-on-color-container);
}

.text-info {
  color: var(--extended-info-color-container);
}

.text-warning {
  color: var(--extended-warning-on-color-container);
}

.text-error {
  color: var(--mat-error);
}

/***********************
 *
 */

/** Centrar elementos verticalmente. */
.align-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
