:host {
  display: block;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--mdc-filled-button-container-color, #6750a4);
}

button {
  margin-right: 8px;

  mat-icon {
    margin-right: 4px;
  }
}
