<am-page-simple>
  @if (alertState.show) {
    <!-- recovery password message -->
    <section class="request-password-reset-message">
      <mat-card class="mat-elevation-z10 p-4">
        <mat-card-content>
          <am-alert
            [type]="alertState.type"
            [show]="alertState.show"
            [dismissible]="false"
            (eventClose)="formRequestPasswordReset.reset()"
          >
            {{ alertState.message }}
          </am-alert>
        </mat-card-content>

        <mat-card-footer class="mt-4 ms-2 d-flex justify-content-center">
          <button mat-flat-button class="ms-2" type="button" [routerLink]="[siteUrls.auth.login]">
            Iniciar sesión
          </button>

          @if (!alertState.isSuccess) {
            <button mat-flat-button class="ms-2" type="button" (click)="formRequestPasswordReset.reset()">
              Enviar correo electrónico nuevamente
            </button>
          }
        </mat-card-footer>
      </mat-card>
    </section>
  } @else {
    <!-- recovery password form -->
    <section class="request-password-reset-container">
      <form (ngSubmit)="handleSubmit()" [formGroup]="formRequestPasswordReset.form" class="form">
        <mat-card class="mat-elevation-z10 p-4">
          <mat-card-header>
            <mat-card-title class="title">
              <h2>Recuperar contraseña</h2>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <am-non-field-errors [badRequest]="formRequestPasswordReset.state().badRequest" />

            <!-- email -->
            <am-form-input
              fieldName="email"
              formControlName="email"
              [formState]="formRequestPasswordReset.state()"
              [formInputType]="formInputType.Email"
              [label]="formRequestPasswordReset.getFieldConfig('email')?.label"
              [icon]="formRequestPasswordReset.getFieldConfig('email')?.icon"
            />

            <mat-divider />
          </mat-card-content>

          <mat-card-footer class="mt-4 ms-2">
            <am-btn-loading
              btnText="Recuperar contraseña"
              [loading]="formRequestPasswordReset.state().isLoading"
              [disabled]="!formRequestPasswordReset.isValid()"
            />
            <button mat-flat-button class="ms-2" type="button" [routerLink]="[siteUrls.auth.login]">
              Iniciar sesión
            </button>
          </mat-card-footer>
        </mat-card>
      </form>
    </section>
  }
</am-page-simple>
