:host {
  display: block;
}

.request-password-reset-message {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.request-password-reset-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 100%;
    max-width: 600px;

    .title {
      text-align: center;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
