@if (resourceCategoryUtils.getOptions().length > 0) {
  <mat-form-field>
    <!-- label -->
    <mat-label>{{ label() }}</mat-label>

    <!-- icon -->
    @if (icon() && formIconPosition() === iconPositions.prefix) {
      <mat-icon matPrefix>{{ icon() }}</mat-icon>
    } @else if (icon() && formIconPosition() === iconPositions.suffix) {
      <mat-icon matSuffix>{{ icon() }}</mat-icon>
    }

    <!-- input -->
    <input
      aria-label="Selección de categoría de recurso"
      matInput
      amSelectOnFocus
      (ngModelChange)="onChangeValue($event)"
      [ngModel]="value()"
      [matAutocomplete]="categories"
      [disabled]="isDisabled()"
      [id]="id"
      [placeholder]="placeholder()"
    />

    <!-- autocomplete -->
    <mat-autocomplete #categories="matAutocomplete" [displayWith]="displayFn">
      @for (option of resourceCategoryUtils.getOptions(); track $index) {
        <mat-option [value]="option.value">
          {{ option.description }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <!-- field error -->
  @if (formState().form) {
    <am-field-error [formState]="formState()" [fieldName]="fieldName()" [fieldText]="label()" />
  }
}
