<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <div class="resource-list-container">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-row">
          <!-- toolbar -->
          <button
            (click)="handleCreateResource()"
            [amRequiredPermission]="systemPermissions.Resources.Create"
            mat-raised-button
          >
            <mat-icon>add</mat-icon>
            Añadir recurso
          </button>

          <!-- filter -->
          <div class="ms-auto">
            <am-table-filter
              (filterChange)="handleFilterChange($event)"
              [paginatedResult]="paginatedResult"
              [fieldsFilter]="fieldsFilter"
            />
          </div>
        </div>

        <!-- table -->
        <table
          mat-table
          matSort
          matSortActive="name"
          matSortDirection="asc"
          class="table-striped"
          (matSortChange)="handleSortChange($event)"
          [dataSource]="dataSource"
          [ngClass]="{ hidden: loading() }"
        >
          <!-- name field -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- description field -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>

          <!-- text color field -->
          <ng-container matColumnDef="textColor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Color de texto</th>
            <td mat-cell *matCellDef="let row">{{ row.textColor }}</td>
          </ng-container>

          <!-- background color field -->
          <ng-container matColumnDef="backgroundColor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Color de fondo</th>
            <td mat-cell *matCellDef="let row">{{ row.backgroundColor }}</td>
          </ng-container>

          <!-- isActive field -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
            <td mat-cell *matCellDef="let row">
              <span [innerHTML]="row.isActive | boolToIcon"></span>
            </td>
          </ng-container>

          <!-- deactivation reason field -->
          <ng-container matColumnDef="deactivationReason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo de desactivación</th>
            <td mat-cell *matCellDef="let row">{{ row.deactivationReason }}</td>
          </ng-container>

          <!-- create at field -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado el</th>
            <td mat-cell *matCellDef="let row">{{ row.createdAt | dateTimeFormat }}</td>
          </ng-container>

          <!-- columns -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            class="cursor-pointer"
            *matRowDef="let row; columns: displayedColumns"
            (click)="handleClickDetails(row.resourceId)"
          ></tr>

          <!-- no data row -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4" [attr.colspan]="displayedColumns.length">
              <div class="d-flex justify-content-center">No hay datos a mostrar</div>
            </td>
          </tr>
        </table>

        <!-- paginator -->
        @if (dataSource) {
          <am-paginator (pageEvent)="handlePageEvent($event)" [paginatedResult]="paginatedResult" />
        }

        <!-- spinner -->
        @if (loading()) {
          <div class="d-flex justify-content-center p-5">
            <mat-progress-spinner mode="indeterminate" />
          </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</am-page-base>
