<!-- toolbar -->
<div class="d-flex flex-row">
  <div class="ms-auto">
    <am-table-filter
      (filterChange)="handleFilterChange($event)"
      [apiResult]="apiResult"
      [fieldsFilter]="fieldsFilter"
    />
  </div>
</div>

<!-- table -->
<div class="table-container">
  <table
    mat-table
    matSort
    matSortActive="email"
    matSortDirection="asc"
    class="table-striped"
    (matSortChange)="handleSortChange($event)"
    [dataSource]="dataSource"
    [ngClass]="{ hidden: loading }"
  >
    <!-- email field -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">
        <span
          class="cursor-pointer"
          role="button"
          tabindex="0"
          (keydown.enter)="handleClickEmailField(row.id)"
          (click)="handleClickEmailField(row.id)"
        >
          {{ row.email }}
        </span>
      </td>
    </ng-container>

    <!-- actions field -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <span class="d-flex justify-content-end btn-actions">
          <button mat-icon-button (click)="handleUnAssignUserToRole(row.id)">
            <mat-icon matTooltip="Excluir del rol" class="text-error">remove</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell p-4" [attr.colspan]="displayedColumns.length">No hay datos a mostrar</td>
    </tr>
  </table>

  <!-- paginator -->
  @if (dataSource) {
    <am-paginator (pageEvent)="handlePageEvent($event)" [apiResult]="apiResult" />
  }

  <!-- spinner -->
  @if (loading) {
    <div class="d-flex justify-content-center p-5">
      <mat-progress-spinner color="primary" mode="indeterminate" />
    </div>
  }
</div>
