<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ role?.roleName }}</h3>
        <h4>{{ role?.roleDescription }}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (roleNotFound) {
        <am-alert type="error" message="El rol al que intenta acceder no existe" [show]="true" />
      }

      @if (role?.roleIsEditable) {
        <am-alert
          type="warning"
          message="ATENCIÓN: asigne los permisos con precaución"
          [show]="true"
          [dismissible]="false"
        />
      }

      <div class="custom-table-container">
        <table class="table table-striped table-border-bottom">
          <thead>
            <tr>
              <th>Nombre</th>
              <th><mat-icon class="icon">visibility</mat-icon> Leer</th>
              <th><mat-icon class="icon">add</mat-icon> Editar</th>
              <th><mat-icon class="icon">edit</mat-icon> Crear</th>
              <th><mat-icon class="icon">delete</mat-icon> Eliminar</th>
            </tr>
          </thead>
          <tbody>
            @for (permission of role?.permissions; track $index) {
              <tr>
                <th>{{ getModuleRoleDisplayName(permission.moduleName) }}</th>
                @for (item of sortPermissionsByActionOrder(permission.permissions); track $index) {
                  <td>
                    @if (getToggleState(item).show) {
                      <mat-slide-toggle
                        [checked]="item?.isAssigned"
                        [disabled]="getToggleState(item).disabled"
                        (change)="handleUpdatePermissionForRole(item!.permissionId, !item?.isAssigned)"
                      />
                    } @else {
                      <mat-slide-toggle disabled />
                    }
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2">
    <mat-card-content>
      <h3>Usuarios</h3>
    </mat-card-content>
  </mat-card>
</am-page-base>
