<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{ roleInfo?.roleName }}</h3>
        <h4>{{ roleInfo?.roleDescription }}</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="custom-table-container">
        <table class="table table-striped table-border-bottom">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Leer</th>
              <th>Editar</th>
              <th>Crear</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            @for (permission of roleInfo?.permissions; track $index) {
              <tr>
                <th>{{ getModuleRoleDisplayName(permission.moduleName) }}</th>
                @for (item of sortPermissionsByActionOrder(permission.permissions); track $index) {
                  <td>
                    <mat-slide-toggle
                      [checked]="item.isAssigned"
                      [disabled]="isUpdating"
                      (change)="handleUpdatePermissionForRole(item.permissionId, !item.isAssigned)"
                    ></mat-slide-toggle>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2">
    <mat-card-content>
      <h3>Usuarios</h3>
    </mat-card-content>
  </mat-card>
</am-page-base>
