<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-content>
      <div class="custom-table-container">
        <table class="table table-striped table-border-bottom">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Lectura</th>
              <th>Escritura</th>
              <th>Creación</th>
              <th>Eliminación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Calendarios</th>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
            </tr>
            <tr>
              <th>Citas</th>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
            </tr>
            <tr>
              <th>Recursos</th>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-2">
    <mat-card-content>
      <h3>Usuarios</h3>
    </mat-card-content>
  </mat-card>
</am-page-base>
