:host {
  display: block;
}

.reset-password-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 100%;
    max-width: 600px;

    .title {
      text-align: center;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
