<section class="blade-content-container">
  <h3 class="blade-title">Actualizar cuenta</h3>

  <div class="blade-body">
    <form [formGroup]="formState.form">
      <am-non-field-errors [badRequest]="formState.badRequest" />

      <div class="row">
        <!-- first name field -->
        <div class="col-12">
          <am-form-input fieldName="firstName" formControlName="firstName" label="Nombre" [formState]="formState" />
        </div>

        <!-- last name field -->
        <div class="col-12">
          <am-form-input fieldName="lastName" formControlName="lastName" label="Apellidos" [formState]="formState" />
        </div>

        <!-- phone field -->
        <div class="col-12">
          <am-form-phone-number fieldName="phone" formControlName="phone" label="Teléfono" [formState]="formState" />
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-end mt-3 blade-actions">
    <button mat-flat-button class="me-2" (click)="handleCloseBlade()">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>

    <am-btn-loading
      btnText="Actualizar cuenta"
      icon="add"
      (eventClick)="handleSubmit()"
      [loading]="formState.isLoading"
    />
  </div>
</section>
