@if (loading()) {
  <button mat-flat-button disabled (click)="handleClick()" [ngClass]="styles()" [color]="color()" [type]="btnType()">
    <mat-spinner [color]="spinnerColor()" [diameter]="25" /> {{ btnTextLoading() }}
  </button>
} @else {
  <button
    mat-flat-button
    (click)="handleClick()"
    [ngClass]="styles()"
    [color]="color()"
    [type]="btnType()"
    [disabled]="disabled()"
  >
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    }
    {{ btnText() }}
  </button>
}
