<div class="sidebar-items-container">
  <mat-accordion multi>
    @for (item of sidenavMenuItems; track $index) {
      <mat-expansion-panel
        (closed)="handleClosedExpansionPanel(item.id)"
        (opened)="handleOpenExpansionPanel(item.id)"
        [amRequiredRole]="item.role"
        [amRequiredPermission]="item.permission"
        [requiresAll]="true"
        [expanded]="stateSidebarMenu(item.id)"
        class="sidebar-item mat-elevation-z0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          @for (subItem of item.items; track $index) {
            <mat-list-item
              [routerLink]="subItem.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [amRequiredRole]="subItem.role"
              [amRequiredPermission]="subItem.permission"
              [requiresAll]="true"
            >
              <span class="mat-list-item-link">
                <mat-icon>{{ subItem.icon }}</mat-icon>
                <span class="mat-list-item-text">{{ subItem.text }}</span>
              </span>
            </mat-list-item>
          }
        </mat-nav-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
