<mat-form-field style="width: 100%; display: block">
  <mat-label>{{ label() }}</mat-label>
  <mat-select
    multiple
    (ngModelChange)="handleSelectionChange($event)"
    [ngModel]="value()"
    [disabled]="isDisabled()"
    [id]="id"
  >
    @if (isLoading()) {
      <mat-option disabled>
        <mat-progress-spinner mode="indeterminate" diameter="20" />
        Cargando tipo de recursos...
      </mat-option>
    } @else {
      @for (resourceType of resourceTypes(); track resourceType.resourceTypeId) {
        <mat-option [value]="resourceType.resourceTypeId">{{ resourceType.name }}</mat-option>
      }
    }
  </mat-select>
</mat-form-field>

@if (formState().form) {
  <am-field-error [formState]="formState()" [fieldName]="fieldName()" [fieldText]="label()" />
}
