@if (resourceTypes().length && !isLoading()) {
  <mat-form-field>
    <!-- label -->
    <mat-label>{{ label() }}</mat-label>

    <!-- icon -->
    @if (icon() && formIconPosition() === iconPositions.prefix) {
      <mat-icon matPrefix>{{ icon() }}</mat-icon>
    } @else if (icon() && formIconPosition() === iconPositions.suffix) {
      <mat-icon matSuffix>{{ icon() }}</mat-icon>
    }

    <!-- input -->
    <input
      matInput
      amSelectOnFocus
      aria-label="Selección de tipo de recurso"
      (ngModelChange)="handleSelectionChange($event)"
      [ngModel]="value()"
      [matAutocomplete]="resourceTypesItems"
      [disabled]="isDisabled()"
      [id]="id"
      [placeholder]="placeholder()"
    />

    <!-- autocomplete -->
    <mat-autocomplete #resourceTypesItems="matAutocomplete" [displayWith]="displayFn">
      @for (resourceType of resourceTypes(); track $index) {
        <mat-option [value]="resourceType">{{ resourceType.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <!-- field error -->
  @if (formState().form) {
    <am-field-error [formState]="formState()" [fieldName]="fieldName()" [fieldText]="label()" />
  }
} @else {
  <mat-spinner diameter="24" />
}
