<am-page-simple>
  @if (isSuccess !== undefined) {
    <!-- recovery password message -->
    <section class="recovery-password-message">
      <mat-card class="mat-elevation-z10 p-4">
        <mat-card-content>
          @if (isSuccess) {
            <am-alert type="success">
              Se ha enviado un correo electrónico con un enlace para restablecer su contraseña.
            </am-alert>
          } @else {
            <am-alert type="danger">No se ha encontrado ninguna cuenta con ese correo electrónico</am-alert>
          }
        </mat-card-content>

        <mat-card-footer class="mt-4 ms-2 d-flex justify-content-center">
          <button mat-stroked-button class="ms-2" type="button" [routerLink]="[siteUrls.auth.login]">
            Iniciar sesión
          </button>
          @if (!isSuccess) {
            <button mat-stroked-button class="ms-2" type="button" (click)="handleResetForm()">
              Enviar correo electrónico nuevamente
            </button>
          }
        </mat-card-footer>
      </mat-card>
    </section>
  } @else {
    <!-- recovery password form -->
    <section class="recovery-password-container">
      <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form">
        <mat-card class="mat-elevation-z10 p-4">
          <mat-card-header>
            <mat-card-title class="title">
              <h1>Recuperar contraseña</h1>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <am-non-field-errors [badRequest]="badRequest" />

            <!-- email -->
            <am-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="isSubmitted"
              [formInputType]="formInputType.Email"
              fieldName="email"
              formControlName="email"
              label="Correo electrónico"
              icon="mail"
            />

            <mat-divider />
          </mat-card-content>

          <mat-card-footer class="mt-4 ms-2">
            <am-btn-loading [loading]="isLoading" btnText="Recuperar contraseña" />
          </mat-card-footer>
        </mat-card>
      </form>
    </section>
  }
</am-page-simple>
