@if (!calendarState.loading() && calendarState.calendar(); as calendar) {
  <!-- actions -->
  <div class="d-flex justify-content-start">
    <button mat-raised-button (click)="handleOpenUpdateCalendarBlade()">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </div>

  <!-- table -->
  <div class="custom-table-container">
    <table class="table table-striped table-border-bottom">
      <tbody>
        <tr>
          <th>Nombre</th>
          <td>{{ calendar.name }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
          <td>{{ calendar.description }}</td>
        </tr>
        <tr>
          <th>Activo</th>
          <td>
            <mat-slide-toggle (change)="handleChangeStateIsActive()" [checked]="calendar.isActive" />
          </td>
        </tr>
        <tr>
          <th>Fecha de creación</th>
          <td>{{ calendar.createdAt | dateTimeFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <mat-spinner diameter="100" />
  </div>
}
