@if (!settingsState.loading() && settingsState.settings(); as settings) {
  <!-- actions -->
  <div class="d-flex justify-content-start">
    <button mat-raised-button (click)="handleOpenUpdateCalendarSettingsBlade()">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </div>

  <!-- table -->
  <div class="custom-table-container">
    <table class="table table-striped table-border-bottom">
      <tbody>
        <tr>
          <th>Zona horaria</th>
          <td>{{ settings.timeZone }}</td>
        </tr>
        <tr>
          <th>Descripción</th>
        </tr>
        <tr>
          <th>Activo</th>
          <td></td>
        </tr>
        <tr>
          <th>Fecha de creación</th>
        </tr>
      </tbody>
    </table>
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <mat-spinner diameter="100" />
  </div>
}
