@if (!settingsState.loading() && settingsState.settings(); as settings) {
  <!-- actions -->
  <div class="d-flex justify-content-start">
    <button mat-raised-button (click)="handleOpenUpdateCalendarSettingsBlade()">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </div>

  <!-- table -->
  <div class="custom-table-container">
    <table class="table table-striped table-border-bottom">
      <tbody>
        <tr>
          <th>Zona horaria</th>
          <td>{{ settings.timeZone }}</td>
        </tr>
        <tr>
          <th>Estado inicial de las citas al ser creadas</th>
          <td>{{ appointmentConfirmationRequirementValue }}</td>
        </tr>
        <tr>
          <th>Gestión de conflictos al crear o modificar citas</th>
          <td>{{ appointmentOverlappingValue }}</td>
        </tr>
        <tr>
          <th>Gestión de conflictos al crear días festivos con solapamiento con las citas existentes</th>
          <td>{{ holidayConflictValue }}</td>
        </tr>
        <tr>
          <th>Validación de horarios de disponibilidad de los recursos requeridos al crear una cita</th>
          <td>{{ resourceScheduleValidationValue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <mat-spinner diameter="100" />
  </div>
}
