<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="app-title">
          Permisos en <span class="text-primary">{{ role?.roleName }}</span>
        </h1>
        <h2 class="app-subtitle">{{ role?.roleDescription }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider />

      <div class="d-flex justify-content-start mt-2">
        <section class="m-2">
          <button mat-raised-button (click)="handleNavigateToRoleUserAssignments()">
            <mat-icon>people</mat-icon>
            Administrar usuarios
          </button>
        </section>
      </div>
      @if (roleNotFound) {
        <am-alert type="error" message="El rol al que intenta acceder no existe" [show]="true" />
      }

      @if (role?.roleIsEditable) {
        <am-alert type="warning" [show]="true" [dismissible]="false">
          <strong>ATENCIÓN</strong> asigne los permisos con precaución, ya que estos pueden afectar la seguridad de la
          aplicación.
        </am-alert>
      }

      <div class="custom-table-container">
        <table class="table table-striped table-border-bottom">
          <thead>
            <tr>
              <th>Nombre</th>
              <th><mat-icon class="icon">visibility</mat-icon> Leer</th>
              <th><mat-icon class="icon">add</mat-icon> Editar</th>
              <th><mat-icon class="icon">edit</mat-icon> Crear</th>
              <th><mat-icon class="icon">delete</mat-icon> Eliminar</th>
            </tr>
          </thead>
          <tbody>
            @if (!loading) {
              @for (permission of role?.permissions; track $index) {
                <tr>
                  <th>{{ getModuleRoleDisplayName(permission.moduleName) }}</th>
                  @for (item of sortPermissionsByActionOrder(permission.permissions); track $index) {
                    <td>
                      @if (getToggleState(item).show) {
                        <mat-slide-toggle
                          [checked]="item?.isAssigned"
                          [disabled]="getToggleState(item).disabled"
                          (change)="handleUpdatePermissionForRole(item!.permissionId, !item?.isAssigned)"
                        />
                      } @else {
                        <mat-slide-toggle disabled />
                      }
                    </td>
                  }
                </tr>
              }
            } @else {
              <tr>
                <td colspan="100%">
                  <div class="d-flex justify-content-center my-5">
                    <mat-progress-spinner mode="indeterminate" />
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</am-page-base>
