<am-page-base>
  <am-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-content>
      <!-- toolbar -->
      <div class="d-flex flex-row">
        <button
          [amRequiredPermission]="systemPermissions.Roles.Create"
          mat-raised-button
          (click)="handleOpenDialogCreateRole()"
        >
          Añadir rol
        </button>

        <div class="ms-auto">
          <am-table-filter
            (filterChange)="handleFilterChange($event)"
            [apiResult]="apiResult"
            [fieldsFilter]="fieldsFilter"
          />
        </div>
      </div>

      <!-- table -->
      <div class="table-container">
        <table
          mat-table
          matSort
          matSortActive="isEditable"
          matSortDirection="asc"
          class="table-striped"
          (matSortChange)="handleSortChange($event)"
          [dataSource]="dataSource"
          [ngClass]="{ hidden: loading }"
        >
          <!-- name field -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- description field -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>

          <!-- active field -->
          <ng-container matColumnDef="isEditable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Editable</th>
            <td mat-cell *matCellDef="let row">
              <span [innerHTML]="row.isEditable | boolToIcon"></span>
            </td>
          </ng-container>

          <!-- actions field -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <span class="d-flex justify-content-end">
                <button mat-icon-button (click)="handleSelectRow(row)">
                  <mat-icon matTooltip="Permisos" class="btn-action">security</mat-icon>
                </button>

                <button mat-icon-button (click)="handleRoleUserAssignments(row.id)">
                  <mat-icon matTooltip="Gestionar usuarios" class="btn-action">manage_accounts</mat-icon>
                </button>

                @if (row.isEditable) {
                  <button mat-icon-button (click)="handleOpenDialogUpdateRole(row.id)">
                    <mat-icon matTooltip="Editar role" class="btn-action">edit</mat-icon>
                  </button>

                  <button mat-icon-button (click)="handleDeleteRole(row.id)">
                    <mat-icon matTooltip="Eliminar role" class="btn-action text-error">delete</mat-icon>
                  </button>
                }
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4" [attr.colspan]="displayedColumns.length">No hay datos a mostrar</td>
          </tr>
        </table>

        <!-- paginator -->
        @if (dataSource) {
          <am-paginator (pageEvent)="handlePageEvent($event)" [apiResult]="apiResult" />
        }

        <!-- spinner -->
        @if (loading) {
          <div class="d-flex justify-content-center p-5">
            <mat-progress-spinner color="primary" mode="indeterminate" />
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</am-page-base>
