@if ((submitted() && formHasErrors()) || controlHasErrors() || getBadRequestErrors()) {
  <div class="field-error-container">
    @for (error of getValidationErrors(); track $index) {
      <span class="text-danger">
        <mat-hint>{{ error }}</mat-hint>
        <br />
      </span>
    }

    <!-- errores obtenidos del backend. -->
    @if (getBadRequestErrors()) {
      @for (error of getBadRequestErrors(); track $index) {
        <span class="text-danger">
          <mat-hint>{{ error }}</mat-hint>
          <br />
        </span>
      }
    }
  </div>
}
