@if ((formState().isSubmitted && formHasErrors()) || controlHasErrors() || getBadRequestErrors()) {
  <div class="field-error-container">
    <mat-list>
      <!-- Errores de validación del frontend -->
      @for (error of getValidationErrors(); track $index) {
        <mat-list-item>
          <mat-icon matListItemIcon>error</mat-icon>
          <span class="text-error" matListItemTitle>{{ error }}</span>
        </mat-list-item>
      }

      <!-- Errores del backend -->
      @if (getBadRequestErrors()) {
        @for (error of getBadRequestErrors(); track $index) {
          <mat-list-item>
            <mat-icon matListItemIcon>error</mat-icon>
            <span class="text-error" matListItemTitle>{{ error }}</span>
          </mat-list-item>
        }
      }
    </mat-list>
  </div>
}
