<mat-form-field class="account-selector-field">
  <mat-label>{{ label() }}</mat-label>

  <input
    matInput
    amSelectOnFocus
    type="text"
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [attr.aria-label]="'Search for account by email or name'"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="handleOptionSelected($event.option.value)"
  >
    @if (isLoading()) {
      <mat-option disabled>
        <div class="d-flex flex-row">
          <mat-spinner matSuffix diameter="20" aria-label="Loading accounts" />
          <span class="ms-2">Cargando cuentas...</span>
        </div>
      </mat-option>
    } @else {
      @for (account of filteredUsers(); track account.accountId) {
        <mat-option [value]="account">
          {{ account.firstName }} {{ account.lastName }} ({{ account.email }})
        </mat-option>
      } @empty {
        <mat-option disabled>No se han encontrado coincidencias</mat-option>
      }
    }
  </mat-autocomplete>
</mat-form-field>
