<mat-form-field class="account-selector-field">
  <mat-label>Search Account</mat-label>

  <input
    type="text"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [attr.aria-label]="'Search for account by email or name'"
  />

  @if (isLoading()) {
    <mat-spinner matSuffix diameter="20" aria-label="Loading accounts" />
  }

  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="handleOptionSelected($event.option.value)"
  >
    @for (account of filteredUsers(); track $index) {
      <mat-option [value]="account"> {{ account.firstName }} {{ account.lastName }} ({{ account.email }}) </mat-option>
    } @empty {
      <mat-option disabled>No accounts found</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
